<div class="max-w-sm w-90 overflow-hidden shadow-lg rounded-2xl bg-white">
  <div class="flex gap-2 mt-2">
    <div class="mt-2 rounded-md ml-1">
      <input
        placeholder="Search team"
        class="p-2 text-base border border-gray-300 rounded-md"
        [formControl]="searchControl"
        (keyup)="filterTeam()"
        matInput
      />
    </div>
  </div>
  <hr class="mt-2" />

  @for (item of dataObs$ | async; track $index) {
  <div [ngClass]="{ 'bg-gray-50': selectedTeam === item }">
    <mat-list>
      <div class="grid grid-cols-2 gap-2">
        <div (click)="detailTeam(item)">
          <mat-list-item>{{ item.name }}</mat-list-item>
        </div>
        @if(permission !== 'user'){
        <div>
          <button
            (click)="testPing(item)"
            class="fuse-mat-button-rounded p-8 w-40 bg-secundary"
            mat-flat-button
          >
            <span class="text-white"> lactation test </span>
          </button>
        </div>
        }
      </div>
    </mat-list>
    <mat-divider></mat-divider>
  </div>
  }@empty {
  <div class="flex justify-center">No items found</div>
  }

  <div class="flex justify-end">
    <mat-paginator
      class="mr-5"
      hidePageSize="true"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
